.error {
    border: 1px solid red;
}

.inputWrapper {
    display: block;
    width: max-content;
    margin-bottom: 25px;
    position: relative;
}

.errorLabel {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100%);

    color: white;
    background-color: coral;
}
