.welcomeSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 20px 30px 70px;
}

.mainHeading {
    color: #61dafb;
    font-size: 45px;
}

.mainDescription {
    font-size: 24px;
}

.mainLinks a {
    text-decoration: none;
}

.mainLinks a + a {
    margin-left: 40px;
}

.linkButton {
    display: inline-block;
    background-color: #61dafb;
    color: black;
    padding: 10px 25px;
}

.link {
    display: inline-block;
    color: #61dafb;
}
