body[theme="light"] .welcomeSection,
body[theme="dark"] .welcomeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px 70px;
  position: relative;
  min-height: 421px;
}

.welcomeSection::before {
  content: ' ';
  position: absolute;
  inset: 0px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9Ii0xMS41IC0xMC4yMzE3NCAyMyAyMC40NjM0OCI+CiAgPHRpdGxlPlJlYWN0IExvZ288L3RpdGxlPgogIDxjaXJjbGUgY3g9IjAiIGN5PSIwIiByPSIyLjA1IiBmaWxsPSIjZmZmIi8+CiAgPGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIi8+CiAgICA8ZWxsaXBzZSByeD0iMTEiIHJ5PSI0LjIiIHRyYW5zZm9ybT0icm90YXRlKDYwKSIvPgogICAgPGVsbGlwc2Ugcng9IjExIiByeT0iNC4yIiB0cmFuc2Zvcm09InJvdGF0ZSgxMjApIi8+CiAgPC9nPgo8L3N2Zz4K');
  background-repeat: no-repeat;
  background-position: 100% 100px;
  background-size: 50%;
  opacity: 0.05;
}

body[theme="light"] .welcomeSection {
  background-color: #282c34;
  color: white;
}

body[theme="dark"] .welcomeSection {
  background-color: grey;
  color: #282c34;
}

.mainHeading {
  color: #61dafb;
  font-size: 45px;
}

.mainDescription {
  font-size: 24px;
}

.mainLinks a {
  text-decoration: none;
}

.mainLinks a + a {
  margin-left: 40px;
}

.linkButton {
  display: inline-block;
  background-color: #61dafb;
  color: black;
  padding: 10px 25px;
  cursor: pointer;
}

.link {
  display: inline-block;
  color: #61dafb;
}
